@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

:root {
  --color-primary-100: #ced0d9;
  --color-primary-200: #9da0b3;
  --color-primary-300: #6b718e;
  --color-primary-400: #3a4168;
  --color-primary-500: #091242;
  --color-primary-600: #070e35;
  --color-primary-700: #050b28;
  --color-primary-800: #04071a;
  --color-primary-900: #02040d;

  --color-accent: #FFB82B;
  --color-surface: #F3F3F3;
  --color-text: #1C1F35;

  --font-rubik: "Rubik", sans-serif;
  --font-krub: "Krub", sans-serif;
}

.krub {
  font-family: "Krub", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.krub-medium {
  font-family: "Krub", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.krub-semibold {
  font-family: "Krub", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.krub-bold {
  font-family: "Krub", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}


body {
  font-family:
    Krub, Inter, 
    'Segoe UI',
    Tahoma, 
    Geneva, 
    Verdana, 
    sans-serif;
  font-weight: 450;
  color: #1C1F35;
}


.my-input {
  background-color: transparent;
  padding: 0.8rem 1rem;
  border: 1px solid white;
  outline: none
}

.form-control label {
  font-size: 0.9rem;
  font-weight: 600;
}